@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 98%;
  position: absolute;
  display: grid;
  left: 10px;
  right: 10px;
  grid-template-columns: repeat(12, 1fr);
}

header {
  height: 100vh;
  text-align: start;
  grid-column: 1 / span 12;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: medium;
  color: #ffffff;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 300;
}

.title-block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 4px;
  background: #ff9ccf;
  width: fit-content;
}

.intro {
  box-sizing: border-box;
  height: 100vh;
  grid-column: 1 / span 5;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 80px
}

.art-title{
  font-size: xx-large;
  color: #df6da8;
}

.poem-block {
  font-size: 18px;
  font-weight: 400;
  color: #91416a;
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #91416a;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #91416a;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: large;
  color: #ec93c1;
}
